.header__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .header__link {
    padding: 0 27px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 14px;
  }
}
