.cards {
  width: 100%;
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, calc(282vw / 1280 * 100));
  grid-template-rows: repeat(2, calc(362vw / 1280 * 100));
  column-gap: calc(17vw / 1280 * 100);
  row-gap: calc(20vw / 1280 * 100);
  grid-auto-rows: calc(362vw / 1280 * 100);
  grid-auto-flow: row;
  justify-content: center;
}

@media screen and (min-width: 1441px) {
  .cards {
    grid-template-columns: repeat(3, 317px);
    grid-template-rows: repeat(2, 407px);
    column-gap: 17px;
    row-gap: 20px;
    grid-auto-rows: 407px;
  }
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 223px);
    grid-template-rows: repeat(2, 288px);
    column-gap: 17px;
    row-gap: 20px;
    grid-auto-rows: 290px;
  }
}

@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, calc(282vw / 900 * 100));
    grid-template-rows: repeat(3, calc(362vw / 900 * 100));
    column-gap: calc(17vw / 900 * 100);
    row-gap: calc(20vw / 900 * 100);
    grid-auto-rows: calc(362vw / 900 * 100);
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 362px);
    row-gap: 20px;
    column-gap: 0;
    grid-auto-rows: 362px;
  }
}
