.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  color: #000000;
  min-height: 27px;
  padding-bottom: 5px;
  margin: 5px 0 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.popup__input:focus {
  outline: none;
  cursor: text;
}

.popup__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #c4c4c4;
  margin: 0;
}

.popup__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #c4c4c4;
  margin: 0;
}

.popup__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #c4c4c4;
  vertical-align: text-top;
  margin: 0;
}

.popup__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #c4c4c4;
  vertical-align: text-top;
  margin: 0;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #c4c4c4;
  vertical-align: text-top;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .popup__input {
    margin: 23px 0 0;
    min-height: 19px;
  }
}
