.popup__input-error {
  color: #ff0000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .popup__input-error {
    top: 50px;
  }
}
