.popup__container_type_auth {
  background-color: #000;
  padding-top: 60px;
}

@media screen and (max-width: 555px) {
  .popup__container_type_auth {
    padding-top: 40px;
    padding: 40px 11px 0;
  }
}
